.App {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.form-wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-seperate{
  margin-right: 20px;
}

.form-control {
  display: flex;
  margin-bottom: 20px;
}
.form-Sauces{
  display: flex;
  justify-content: start;
  margin: 0;
}

.form-column{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 20px;
}

.form-center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-pre{
  background-color: rgb(213, 211, 211);
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="color"],
textarea {
  margin-top: 5px;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
}

input[type="number"] {
  width: 215px;
}

input[type="checkbox"] {
  margin-top: 5px;
}

.error {
  color: red;
  margin-top: 5px;
  margin-left: 10px;
}



button[type="submit"]
{
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(63, 153, 208);
  color: beige;
  cursor: pointer;
}

button[type="reset"]{
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: lightgray;
  color: black;
  cursor: pointer;
}
